{% extends 'layout.html' %}

{% block title %}{{ collection_name }}{% endblock %}

{% block content %}

{% if documents.length == 0 %}
<p class="well">
No documents found.
</p>
{% else %}
{% for document in documents %}
  <pre class="prettyprint">{{ document|json }}</pre>
  <!--<a href="db/{{ db_name }}/{{ collection_name }}/{{ document._id }}">Edit</a>-->
{% endfor %}
{% endif %}


{#
  # Not very useful, since it doesn't show correct index names
  # Could use db.coll.getIndexes(), but that is an extra query on every collection page
<h2>Indexes</h2>
{% if stats.nindexes == 0 %}
<p class="well">
No indexes found.
</p>
{% else %}
<table class="table table-bordered table-striped">
  {% for size in stats.indexSizes %}
  <tr>
    <td>{{ loop.key }}</td>
    <td>{{ size }} bytes</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
#}

<h2>Delete Collection</h2>
<form method="POST" action="db/{{ db_name }}/{{ collection_name }}" class="well">
  <input type="hidden" name="_method" value="delete">
  <p>Are you sure you want to delete this collection? All documents will be deleted.</p>
  <button type="submit" class="btn btn-danger btn-large">
  <i class="icon-trash icon-white"></i>
  Delete
  </button>
</form>

{% endblock %}



{% block sidebar %}
<div class="sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Collection Stats</li>
    <li>
      <strong>Documents</strong>
      <span class="pull-right">{{ stats.count }}</span>
    </li>
    <li>
      <strong>Total doc size</strong>
      <span class="pull-right">{{ stats.size }} bytes</span>
    </li>
    <li>
      <strong>Average doc size</strong>
      <span class="pull-right">{{ stats.avgObjSize }} bytes</span>
    </li>
    <li>
      <strong>Pre-allocated size</strong>
      <span class="pull-right">{{ stats.storageSize }} bytes</span>
    </li>
    <li>&nbsp;</li>
    <li>
      <strong>Indexes</strong>
      <span class="pull-right">{{ stats.nindexes }}</span>
    </li>
    <li>
      <strong>Total index size</strong>
      <span class="pull-right">{{ stats.totalIndexSize }} bytes</span>
    </li>
    <li>&nbsp;</li>
    <li>
      <strong>Padding factor</strong>
      <span class="pull-right">{{ stats.paddingFactor }}</span>
    </li>
    <li>
      <strong>Extents</strong>
      <span class="pull-right">{{ stats.numExtents }}</span>
    </li>
  </ul>
</div>
{% endblock %}
