<!DOCTYPE html>
<html lang="en">
<head>
  <base href="{{base_href}}">
  <meta charset="utf-8">
  <title>{% block title %}Index{% endblock %} - Mongo Express</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="stylesheets/bootstrap.css" rel="stylesheet">
  <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">
</head>

<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="">Mongo Express</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="">Home</a></li>
          <li><a href="cmd">Command Line</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% block content %}{% endblock %}
</body>
</html>
