<!DOCTYPE html>
<html lang="en">
<head>
  <base href="{{ baseHref }}">
  <meta charset="utf-8">
  <title>{% block title %}Index{% endblock %} - Mongo Express</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="stylesheets/bootstrap.css" rel="stylesheet">
  <link href="stylesheets/prettify.css" rel="stylesheet" />
  <link href="stylesheets/style.css" rel="stylesheet" />
  <style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
    .sidebar-nav {
      padding: 9px 0;
    }
  </style>

  <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">
  <script type="text/javascript" src="javascripts/prettify.js"></script>
</head>

<body onload="prettyPrint()">

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="">Mongo Express</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="">Home</a></li>
          <li><a href="cmd">Command Line</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          {% for db in databases %}
          <li class="nav-header" onclick="$('#toggle_{{ db }}').collapse('toggle')">
            {{ db }}
            <i class="icon-chevron-down pull-right"></i>
          </li>
          <li><a href="db/{{ db }}"><i class="icon-folder-open"></i> View Database</a></li>
            <ul class="unstyled collapse nav nav-list
            {%- if db == dbName %} in{% endif -%}
            " id="toggle_{{ db }}">
            {% for collection_db in collections -%}
              {% if loop.key == db -%}
                {% for collection in collection_db -%}
                  <li><a href="db/{{ db }}/{{ collection }}"><i class="icon-list-alt"></i> {{ collection }}</a></li>
                {%- endfor %}
              {%- endif %}
            {%- endfor %}
            </ul>
          <li class="divider"></li>
          {% endfor %}
        </ul>
      </div>

      {% block sidebar %}{% endblock %}
    </div>

    <div class="span9">
      <div class="page-header">
      <h1 id="pageTitle">{{ title }}</h1>
      </div>

      {% block content %}{% endblock %}
    </div>
  </div>
</div>


<script src="javascripts/jquery-1.7.2.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>

</body>
</html>
