.documentlist {
  height: 100px;
  overflow: auto;
}

.documentlist:hover {
  cursor: pointer;
  background: #EEE;
}

.nav > li > a {
  padding: 15px 2px;
}

.logo {
  float: left;
}

.logo-nav {
  float: left;
}

.logo-nav img {
  height: 25px;
  width: 25px;
  margin: 12px;
}

.tableWrapper {
  cursor: pointer;
  position: relative;
}

.tableHeaderFooterBars {
  border-top-color: #337ab7;
  border-top-width: 5px;
  border-top-style: solid;
  border-bottom-color: #337ab7;
  border-bottom-width: 5px;
  border-bottom-style: solid;
}

.fadeToWhite {

  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  margin-right: 15px;
  z-index: 10;
  position: absolute;
  width: 75px;
  right: 0;
  height: 100%;
}

.tableContent {
  width: 100%;
  height: auto;
  display: table;
  max-height: 100px;
  max-width: 100%;
}

.CodeMirror pre {
  color: #fff;
}

.tooDamnBig {
  padding: 10px;
  background: rgb(202, 202, 202);
  /*background: rgba(25, 25, 25, .25);*/
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; /* future proofing */
  -khtml-border-radius: 4px; /* for old Konqueror browsers */
}

.main-title{
  padding-bottom: 0px;
  margin: 10px 0 15px;
  border-bottom:3px solid #353535;
}

.main-title > h1{
  margin-top: 0px;
}

.no-margin{
  margin: 0px;
}

.no-padding{
  padding:0px;
}

.bold{
  font-weight:bold;
}

.input-hidden{
  display:none !important;
}