.documentlist {
  height: 100px;
  overflow: auto;
}

.documentlist:hover {
  cursor: pointer;
  background: #EEE;
}

.navbar.navbar-default.navbar-fixed-top {
  background: rgba(230,230,230,.7);
  box-shadow: none;
  border-bottom: 1px solid #ddd;
  backdrop-filter: blur(6px);
}
.nav > li > a {
  padding: 15px 2px;
}
.nav.navbar-nav li {
  margin: 0 3px;
}
.dropdown-menu li a:hover, .dropdown-menu li a:active, .dropdown-menu li a:focus {
  background: rgba(0, 0, 0, .05);
}
.dropdown > .dropdown-toggle {
  padding: 15px 10px;
}

.logo {
  float: left;
}

.logo-nav {
  float: left;
}
.logo-nav img {
  height: 25px;
  width: 25px;
  margin: 12px;
}

.tableWrapper {
  cursor: pointer;
  position: relative;
}

.tableHeaderFooterBars {
  border-top-color: #337ab7;
  border-top-width: 2px;
  border-top-style: solid;
  border-bottom-color: #337ab7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.fadeToWhite {
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  pointer-events: none;
  margin-right: 15px;
  z-index: 10;
  position: absolute;
  width: 75px;
  right: 0;
  height: 100%;
}

.tableContent {
  width: 100%;
  height: auto;
  display: table;
  max-height: 100px;
  max-width: 100%;
}

.CodeMirror pre {
  color: #fff;
}

.tooDamnBig {
  padding: 10px;
  background: rgb(202, 202, 202);
  border-radius: 4px;
}

.main-title {
  padding-bottom: 0;
  margin: 10px 0 15px;
  border-bottom: 3px solid #353535;
}

.main-title > h1 {
  margin-top: 0px;
}

.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.bold {
  font-weight: bold;
}

.input-hidden {
  display:none !important;
}

.btn .glyphicon {
    margin-right: 3px;
}

td > h3 {
    margin: 0;
    padding: 3px 10px;
}

.nav.nav-pills {
  margin-top: 40px;
}
.nav.nav-pills li a {
    padding: 5px;
    border-radius: 0;
}
.nav-pills > li {
  min-width: 150px;
  text-align: center;
  line-height: 23px;
}

body > .container, .navbar.navbar-default > .container {
    width: 85% !important;
}

.tableContent {
    white-space: nowrap;
}
.tableContent > .deleteButtonDocument {
  margin-right: 6px;
}

td h3 a {
  display: block;
  color: #444;
}
td h3 a:hover {
  color: #36c;
}

.collection-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 50px;
}

.collection-options .group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-right: 20px;
  height: 50px;
}
.collection-options .btn {
  margin-top: 0;
  margin-right: 10px;
}
.collection-options .btn .glyphicon {
  display: block;
  margin: 5px 0 10px 0;
}

.stats.col-md-12 {
  padding: 0;
}

.panel-default > .panel-heading {
  background: #ededed;
  border-bottom: none
}