.tableWrapper {
  cursor: pointer;
  position: relative;
}

.tableHeaderFooterBars {
  border-top-color: #337ab7;
  border-top-width: 5px;
  border-top-style: solid;
  border-bottom-color: #337ab7;
  border-bottom-width: 5px;
  border-bottom-style: solid;
}

.fadeToWhite {
  background: -moz-linear-gradient(left, rgba(83, 80, 86, 0) 0%, rgba(83, 80, 86, 0.6) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(83, 80, 86, 0) 0%, rgba(83, 80, 86, 0.6) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(83, 80, 86, 0) 0%, rgba(83, 80, 86, 0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  z-index: 10;
  position: absolute;
  width: 75px;
  right: 0;
  height: 100%;
}

[data-bs-theme=dark] .fadeToWhite {
  background: -moz-linear-gradient(left, rgba(83, 80, 86, 0) 0%, rgba(83, 80, 86, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(83, 80, 86, 0) 0%, rgba(83, 80, 86, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(83, 80, 86, 0) 0%, rgba(83, 80, 86, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.tableContent {
  width: 100%;
  height: auto;
  display: table;
  max-height: 100px;
  max-width: 100%;
}

.CodeMirror pre {
  color: #fff;
}

.tooDamnBig {
  padding: 10px;
  background: rgb(202, 202, 202);
  /*background: rgba(25, 25, 25, .25);*/
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; /* future proofing */
  -khtml-border-radius: 4px; /* for old Konqueror browsers */
}
